export PRJ_ROOT=$(pwd)

export GOPATH=${PRJ_ROOT}/go
export GOPRIVATE="github.com/crea/*"

export API_COMMON_PROTOS=${PRJ_ROOT}/api-common-protos
export APIS=${PRJ_ROOT}/hypoapis
export GENPROTO_GO=${PRJ_ROOT}/crea-genproto-go
export GENPROTO_GO_MODULE=github.com/crea/hypo-genproto-go
export GAPIC_GO=${PRJ_ROOT}/crea-gapic-go
export GAPIC_GO_MODULE=github.com/crea/crea-gapic-go
export PATH="${GOPATH}/bin:${PATH}"